<div id="menubar">
  <p>ERIC WEBER</p>
  <a href="/index.html#header" class="rotates">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span aria-hidden="true" class="rotates-sides">
      <span class="front">HOME</span>
      <span class="back">HOME</span>
    </span>
  </a>
  <a href="/index.html#about-div" class="rotates">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span aria-hidden="true" class="rotates-sides">
      <span class="front">ABOUT</span>
      <span class="back">ABOUT</span>
    </span>
  <a href="/index.html#static-div" class="rotates">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span aria-hidden="true" class="rotates-sides">
      <span class="front">WHY STATIC</span>
      <span class="back">WHY STATIC</span>
    </span>
  </a>
  <a href="/curtiss.html" class="rotates">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span aria-hidden="true" class="rotates-sides">
      <span class="front">CURTISS</span>
      <span class="back">CURTISS</span>
    </span>
  </a>
  <a href="/image.html" class="rotates">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span aria-hidden="true" class="rotates-sides">
      <span class="front">IMAGE SCRIPT</span>
      <span class="back">IMAGE SCRIPT</span>
    </span>
  </a>
  <a href="/index.html#contact-div" class="rotates">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span aria-hidden="true" class="rotates-sides">
      <span class="front">CONTACT</span>
      <span class="back">CONTACT</span>
    </span>
  </a>
</div>
