---
title: Example Curtiss Gallery
---

<div class="welcome">
  <div id="gallery-fullsize">
  </div>
  <div class="gallery">
  <% config[:gallery].each do |row| %>
    <div class="gallery-row">
    <% row.each do |filename| %>
      <%= image_tag config[:GALLERY_FOLDER] + "/" + config[:THUMBS_FOLDER] + "/" + filename %>
    <% end %>
    </div>
  <% end %>
  </div>
  <h1>THAT LOAD TIME THO!!!1!1</h1>
</div><!-- .welcome -->
