---
title: dope gallery
---

<div class="welcome">
  <div class="logo">
    <% Dir.foreach("source/images/gallery") do |filename|
      next if filename == '.' or filename == '..' %>
      <%= filename %>
    <% end %>
  </div>
  <h1>ur face</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
