@charset "utf-8";
@import "normalize";

body {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 1em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Shadows Into Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

#gallery-overlay-div {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
